In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
data = pd.read_csv("./source/Bitcoin Historical Data.csv")
data

              Date     Price      Open      High       Low     Vol. Change %
0     Jun 15, 2022  21,293.4  22,137.5  22,254.6  20,786.7  180.31K   -3.90%
1     Jun 14, 2022  22,157.3  22,449.1  23,200.3  20,860.9  251.01K   -1.29%
2     Jun 13, 2022  22,448.0  26,606.3  26,857.6  22,006.3  379.26K  -15.63%
3     Jun 12, 2022  26,606.3  28,404.0  28,534.8  26,606.3  120.02K   -6.33%
4     Jun 11, 2022  28,403.4  29,083.3  29,426.6  28,161.8   82.92K   -2.34%
...            ...       ...       ...       ...       ...      ...      ...
1987  Jan 05, 2017     989.3   1,135.4   1,150.6     874.5  240.01K  -12.86%
1988  Jan 04, 2017   1,135.4   1,033.3   1,148.5   1,022.3  156.27K    9.88%
1989  Jan 03, 2017   1,033.3   1,017.0   1,035.5   1,006.5   54.79K    1.60%
1990  Jan 02, 2017   1,017.0     995.4   1,031.7     990.2   64.95K    2.17%
1991  Jan 01, 2017     995.4     963.4   1,001.6     956.1   41.15K    3.33%

[1992 rows x 7 columns]

In [29]:
cols = ["Price", "Open","High", "Low"]
for col in cols:
    data[col] = data[col].str.replace(",", "")

data["Vol."] = data["Vol."].str.replace("K","0")
data["Vol."] = data["Vol."].str.replace(".","")
data

C:\Users\sergi\AppData\Local\Temp\ipykernel_13748\1535844144.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data["Vol."] = data["Vol."].str.replace(".","")

              Date    Price     Open     High      Low    Vol. Change %
0     Jun 15, 2022  21293.4  22137.5  22254.6  20786.7  180310   -3.90%
1     Jun 14, 2022  22157.3  22449.1  23200.3  20860.9  251010   -1.29%
2     Jun 13, 2022  22448.0  26606.3  26857.6  22006.3  379260  -15.63%
3     Jun 12, 2022  26606.3  28404.0  28534.8  26606.3  120020   -6.33%
4     Jun 11, 2022  28403.4  29083.3  29426.6  28161.8   82920   -2.34%
...            ...      ...      ...      ...      ...     ...      ...
1987  Jan 05, 2017    989.3   1135.4   1150.6    874.5  240010  -12.86%
1988  Jan 04, 2017   1135.4   1033.3   1148.5   1022.3  156270    9.88%
1989  Jan 03, 2017   1033.3   1017.0   1035.5   1006.5   54790    1.60%
1990  Jan 02, 2017   1017.0    995.4   1031.7    990.2   64950    2.17%
1991  Jan 01, 2017    995.4    963.4   1001.6    956.1   41150    3.33%

[1992 rows x 7 columns]

In [ ]:
fig, ax = plt.subplot()